main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.restaurantsContainer {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 10px;
    font-size: 1.2em;
}

.restaurant {
    border: 2px solid black;
}

.restaurant div:first-child {
    border-bottom: 2px solid black;
    text-align: center;
    font-weight: bold;
    background-color: lightgreen;
}

.restaurant div:last-child {
    border-top: 2px solid black;
    font-weight: bold;
}

.material-icons {
    font-size: 1.5em;
    position: relative;
    top: 2.5px;
    left: 3px;
}